/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

#registration {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    margin:0px 30px;
    padding: 10px 0px;
    text-align: center;
}

.event.waiting {
    background-color:#c00;
    display:block;
    color: #fff;
}

.event.received {
    display:none;
}

.toggle-with-text {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    clear: both;
}

.toggle-with-text .toggle {
    float: left;
}

.toggle-with-text .toggle-label {
    float: left;
    padding: 5px;
    font-size: 120%;
}

.slide-group .slide-text{position:absolute;top:45%;left:0;width:100%;font-size:24px;color:#fff;text-align:center;text-shadow:0 0 10px rgba(0,0,0,.5)}

.ad-row {
    float: left;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #DDD;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.edit.pull-left {
    left: 0;
    right: auto;
}

.edit.pull-left .icon {
    font-size: 16px !important;
    font-weight: bold;
    color: #FFF;
}

.one-adv {
    padding-left: 25px;
}

.one-adv a:not(.btn) {
    margin-left: 10px;
}

.hidden {
    display: none;
}


#image_upload {
    float: left;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    padding: 15px;
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    margin-bottom: 15px;
}

#image_upload > a {
    float: left;
    width: 48%;
    min-height: 120px;
    box-sizing: border-box;
    padding: 40px 20px 40px 20px;
    border: 2px dashed #CCC;
    text-align: center;
    color: #AAA;
    background: #f9f9f9;
    font-size: 12px;
}

#image_upload img {
    float: left;
    max-width: 100%;
}

#image_upload > a:hover {
    color: #fff;
    background: #073A73;
    text-decoration: none;
}

#image_upload .upload-wrap {
    float: left;
    width: 48%;
    margin: 0 2% 10px 0;
    position: relative;
    border: 2px dashed #DDD;
}

#image_upload .upload-wrap:first-child {
    border: 4px solid #073a73;
}

#image_upload .upload-wrap:first-child:before {
    content: 'Főkép';
    position: absolute;
    left: 0;
    top: 0;
    background: #073a73;
    color: white;
    padding: 3px 10px;
    font-size: 12px;
}

#image_upload .upload-wrap > a {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 3px 8px;
    font-size: 15px;
    color: #c00;
}

.check-row {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.ui-dialog {
    z-index: 10001 !important;
}

.ui-widget-overlay {
    z-index: 10000 !important;
}