@charset 'UTF-8';

::-webkit-input-placeholder {/* WebKit browsers */
	color: #666666;
}
:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
	color: #666666;
}
::-moz-placeholder {/* Mozilla Firefox 19+ */
	color: #666666;
}
:-ms-input-placeholder {/* Internet Explorer 10+ */
	color: #666666;
}

/************************* General Styles *************************/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #505050;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	margin: 5px 0;
}

h2.headers { font-size: 2.3em; }
h2.article-title { font-size: 2.7em; }
h2 { font-size: 24px; }
h3 { font-size: 24px; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.07em; }
h6 { font-size: 0.9em; }


#footer-top h3 {
	position: relative;
	padding-bottom: 16px;
	font-weight: lighter;
	font-family: 'Raleway';
	font-size: 30px;
}

p { line-height: 1.8em; }

ul { padding: 0 0 0 auto; }

a {
	text-decoration: none;
	outline: none;
	color: #ce0000;
}

a:hover {
	text-decoration: none;
	outline: none;
	color: #257BC5;
 }

.float-left { float: left !important; }
.float-right { float: right !important; }
.clear { clear: both !important; }
.full-width { width: 100%; }
.full-width.with-padding { width: 100% !important; padding: 5px 1%; }
.width-auto { width: auto !important; }
.half-width {width: 50% !important; padding: 5px 1% !important;}
.width25 { width: 25% !important;}
.width25.with-padding { padding: 5px 1%; box-sizing: border-box; width: 23%\9; }
.width33 { width: 33% !important;}
.width33.with-padding { padding: 5px 1%; box-sizing: border-box; width: 31%\9; }
.width66 { width: 66% !important;}
.width66.with-padding { padding: 5px 1%; box-sizing: border-box; width: 64%\9; }
.width75 { width: 75% !important;}
.width75.with-padding { padding: 5px 1%; box-sizing: border-box; width: 73%\9; }
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.clear-none { clear: none !important; }
.no-margin { margin: 0 !important; }
label.with-padding { padding: 1% 10px 0 0; }
.margin-bottom { margin-bottom: 10px !important; }
.big-margin-bottom { margin-bottom: 20px; }
.margin-top { margin-top: 10px !important; }
.big-margin-top { margin-top: 20px !important; }
.small-margin-bottom { margin-bottom: 5px; }
.small-margin-top { margin-top: 5px !important; }
.margin-right {margin-right: 10px !important;}
.small-margin-right {margin-right: 5px !important;}
.big-margin-right {margin-right: 15px;}
.margin-left {margin-left: 10px !important;}
.small-margin-left {margin-left: 5px !important;}
.big-margin-left {margin-left: 15px !important;}
.with-padding: {padding: 1% !important;}
.uppercase { }
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font-tahoma { font-family: Tahoma !important; }
a:hover { }
.ui-button.submit { font-size: 20px !important; }
.white {color: #ffffff;}
a.white:hover {color: #ffffff; text-decoration: underline;}
.red {color: #ff0000;}
.grey {color: #b9b9b9;}
.orange {color: #d94d1c;}
.blue {color: #3f7fbb;}
.pink {color: #F11D4D !important;}
.ui-dialog-title {}
.font16 {font-size: 16px !important;}
.font18 {font-size: 18px !important;}
.font20 {font-size: 20px !important;}
.font21 {font-size: 21px !important;}
.font22 {font-size: 22px !important;}
.font24 {font-size: 24px !important;}
.font26 {font-size: 26px !important;}
.font28 {font-size: 28px !important;}
.font30 {font-size: 30px !important;}
.font36 {font-size: 36px !important;}
.font48 {font-size: 48px !important;}
.font60 {font-size: 60px !important;}
.font72 {font-size: 72px !important;}
.lheight26 {line-height: 26px;}
.grey.more {
	font-weight: normal !important;
	margin: 10px;
}
.pinkbg { 
	/*background: rgba(241,29,77,.70);*/
	background: rgba(20,20,20,.40);
}
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.padding-top { padding-top: 10px !important; }
.padding-bottom { padding-bottom: 10px !important; }
.padding-left { padding-left: 10px !important; }
.padding-right { padding-right: 10px !important; }
.hidden { display: none; }
.relative { position: relative; }
.red {color: #c00 !important;}
.green {color: #2db064 !important;}
.gb {color: #28ab9d !important;}
.darkblue {color: #06376F !important;}
.uppercase {text-transform: uppercase;}

h2 .separator {
	color: #b9b9b9;
	font-size: 15px;
	padding: 13px;
	width: 30px;
	text-align: center;
	display: inline-block;
	float: right;
}
img {border: 0;max-width: 100%;}
/***************************************************************************/
/********************** General Styles for Components **********************/

.btn-positive {
	background: #26ad5f !important;
	border: 1px solid #26ad5f !important;
}